<!-- Top Navigation Bar (fixed) -->
<nav class="navbar navbar-expand-md text-white">
  <span class="navbar-brand mb-0 h4">
    <img src="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/64/000000/external-idea-engineering-icongeek26-outline-gradient-icongeek26.png"/>
    Smart TODO List
  </span>
  </button>

    <!-- when user is logged in-->
  <% if(!user){ %>
    <form method= 'GET' action="/register">
      <button class='btn btn-success' type='submit'>Register</button>
    </form>
  <% } else{ %>
    <div class="greeting-container">
      <label id="login-msg" for="user" class="font-weight-bold">Hello <%= user.first_name %></label>
      <div class="greeting-ctner-footer">
        <span id="time-box">
        </span>
        <button id="edit-profile" class="btn btn-outline-light btn-sm" type="button" data-toggle="modal" data-target="#profile-modal">Edit Profile</button>
        <form action="/edit/profile">
          <button class="btn btn-outline-light btn-sm" type="submit">Logout</button>
        </form>
      </div>
    </div>
  <% } %>
  </nav>
</header>



