<!-- Top Navigation Bar (fixed) -->
<nav class="navbar">
  <div class="logo">
    <img src="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/64/000000/external-brain-artificial-intelligence-icongeek26-outline-gradient-icongeek26-2.png"/>
    <h4><strong> Smart TODO List</strong></h4>
  </div>
  <br>
  <h3>Hello</h3>
  <!-- menu icon apply only to logged in user-->
  <span id="nav-close">
    <img src="https://img.icons8.com/glyph-neue/64/000000/drag-list-down.png"/>
  </span>
  <span id="nav-opt">
    <img src="https://img.icons8.com/glyph-neue/64/000000/drag-list-down.png"/>
  </span>
</nav>
