<!DOCTYPE html>
<html lang="en">

<title>Smart TODO List - My Lists</title>

<head>
  <!-- Meta Information -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/userpage.css" type="text/css" />

</head>
  <body>
    <header>
    <%- include("./_navbar") %>
    </header>

    <!-- Add New Items Form -->
    <header id="userpage">
      <!-- <div class="new-item-field"> -->
        <form class="new-item-form" method="POST" actions="/:user_id">
            <input id="input-item" class="form-control" type="text" placeholder="What task would you like to include?">
          <button id="add-button" class="btn btn-submit"><img class="add-img" src="https://img.icons8.com/carbon-copy/100/000000/add.png"/></button>
        </form>
    </header>

    <!-- Categories Lists Containers -->
    <!-- Needs Category ids to link item to list-->
    <main class="categories-container">

      <!-- To Buy List -->
      <div class="card-toBuyList" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h5 class="list-name">
            <img class="toBuy-img" src="https://img.icons8.com/external-photo3ideastudio-lineal-photo3ideastudio/64/000000/external-shopping-basket-supermarket-photo3ideastudio-lineal-photo3ideastudio.png"/>
            To Buy
          </h5>
            <ul id="toBuy-items" class="list-group list-group-flush mb-0">
              <li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                <div class="d-flex align-items-center">
                  <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                  Shampoo
                </div>
                <button id="delete-button" class="btn btn-submit">
                  <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-delete-multimedia-kiranshastry-lineal-kiranshastry.png" style="width:auto;height:25px"/>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- To Eat List -->
      <div class="card-toEatList">
        <img src="https://img.icons8.com/external-photo3ideastudio-lineal-photo3ideastudio/64/000000/external-restaurant-food-delivery-photo3ideastudio-lineal-photo3ideastudio.png"/>
        <h5 class="list-name">To Eat</h5>
        <div class="card-body">
          <ul id="toEat-items" class="list-group list-group-flush">
          </ul>
        </div>
      </div>

      <!-- To Watch List -->
      <div class="card-toWatchList">
        <img src="https://img.icons8.com/ios/64/000000/cinema-film-play.png"/>
        <h5 class="list-name">To Watch</h5>
        <div class="card-body">
          <ul id="toWatch-items" class="list-group list-group-flush">
          </ul>
        </div>
      </div>

      <!-- To Read List -->
      <div class="card-toReadList">
        <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-book-man-accessories-kiranshastry-lineal-kiranshastry.png"/>
        <h5 class="list-name">To Read</h5>
        <div class="card-body">
          <ul id="toRead-items" class="list-group list-group-flush">
          </ul>
        </div>
      </div>

    </main>

    <!-- JQuery Scripts CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Bootstrap Script CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- App JS-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </body>
</html>
