// See: https://sass-lang.com/

/***** App Layout *****/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
  top: 0;
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 1;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
  padding: 0;
}

.navbar-brand img {
    width: auto;
    height: 40px;
}

#login-msg {
  display: none;
}

.user-logo {
  height: 30px;
  width: 30px;
  background-color:#9370db;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  // border-radius: 50%;
  // display: inline-block;
  // text-align: center;
  // line-height: 15px;
  // font-size: 50px;
}
.user-logo:hover {
  cursor: pointer;
}

body, html {
  margin: 0;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
  font-family: "Gochi Hand", cursive;
  font-size: 14px;
  color: #403F40;
}

@media only screen and (min-width: 550px) {

.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 34px;
}

.navbar-brand img {
    width: auto;
    height: initial;
}


#login-msg {
  display: initial;
  font-size: 28px;
  padding-right: 20px;
}

body, html {
  font-size: 16px;
}

}
