.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  color: white;
  top: 0;
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 1;
}

#login-msg {
  font-size: 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 24px;
}

body {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );

}
