/***** Login(Home) Page Body *****/
body {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 200px;

<<<<<<< HEAD
    .login-form {
      width: 400px;
      padding: 20px 50px;

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
          font-size: 20px;
        }
      }

    }

    .form-header {
      text-align: center;
      font-size: 24px;
    }

    #tagline {
      align-self: center;
      font-size: 30px;
      color: #32319b;
      -webkit-text-color: 1px;
    }
  }

  .form-group.row {
    padding-top: 10px;
  }
=======
  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );

  

>>>>>>> 0d228286d95c1625a536dcd7670350d104c36d47
}
