/***** Login(Home) Page Body *****/
body {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 200px;

    .login-form {
      width: 400px;
      padding: 20px 50px;

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
          font-size: 20px;
        }
      }

    }

    .form-header {
      text-align: center;
      font-size: 24px;
    }

    #tagline {
      align-self: center;
      font-size: 30px;
      color: #32319b;
      -webkit-text-color: 1px;
    }
  }

  .form-group.row {
    padding-top: 10px;
  }
}
