
body {
  background: #6b7b8e;
  background-image: url("../public/img/pattern.svg");
}
.navbar {
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  position: fixed;

  .user-logo {
    height: 30px;
    width: 30px;
    background-color:#465C69;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    // border-radius: 50%;
    // display: inline-block;
    // text-align: center;
    // line-height: 15px;
    // font-size: 50px;
  }
  .user-logo:hover {
    cursor: pointer;
  }
}
.modal-header {
  background-color: #363457;
  .modal-title {
    color: aliceblue;
  }
  .close {
    color: aliceblue;
  }
}
#userpage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.new-item-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding: 20px;
}

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-card {
  width: 350px;
  height: 80%;
  background-color: inherit;

}

.list-group-item {
  background-color: inherit;
  border: 0;
  padding: 0;
  margin: 0;

}

#list-button {
  padding: 0;
}

#eat-card {
background-color: #f64747;
}

#read-card {
background-color: #aa8f00;
}
#buy-card {
background-color: #009fd4;
}
#watch-card {
background-color: #03a678;
}

